{% extends 'layouts/default.twig' %}
{% set body_class = 'author-page' %}
{% set head_title = 'Author' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a class="font-alt-regular" href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item active">
									Author
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="news-listing">
					<div class="container">
						<div class="listing-wrapper">
							<div class="profile-card" data-aos="zoom-in">
								<div class="wrapper">
									<div class="row">
										<div class="col-md-4 side-left">
											<div class="image-name">
												<div class="image-area">
													<figure>
														<div class="images br-100">
															<img src="assets/img/photos/dummy_1.webp" alt="">
															{# <span class="text-logo font-alt-semibold">J</span> #}
														</div>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-8 side-right">
											<div class="info-bio">
												<div class="row">
													<div class="col-md-12">
														<div class="info">
															<h6 class="font-alt-bold">Author</h6>
															<h4 class="font-text-bold">John Doe</h4>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Status</h6>
															<h5>
																<span class="icon-verified"></span>
																<span class="ft-italic">Verified</span>
															</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Jenis Kelamin</h6>
															<h5>Laki-laki</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Bio</h6>
															<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu lectus nisi. Pellentesque pellentesque metus sit amet maximus consequat. Maecenas eget consequat tellus</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Tanggal Bergabung</h6>
															<h5>21 Juli 2025</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Media Sosial</h6>
															<ul class="flat social-media">
																<li>
																	<a href="#" target="_blank" class="icon-sos linkedin">
																		<span class="fab fa-linkedin"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos facebook">
																		<span class="fa fa-facebook"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos twitter">
																		<span class="fa fa-x"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos instagram">
																		<span class="fab fa-instagram"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos youtube">
																		<span class="fab fa-youtube"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos tiktok">
																		<span class="fa fa-tiktok"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos whatsapp">
																		<span class="fa fa-whatsapp"></span>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="post-profile">
								<div class="row">
									<div class="col-xl-8">
										<!-- Kalo postingannya engga ada, pake ini -->
										<!-- <div class="no-post">
											<h5 class="font-alt-regular" data-aos="zoom-in">No Post</h5>
										</div> -->
										<!-- End No Post -->
										<div class="thumbnails">
											<ul class="thumbnail-list large">
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<ul class="badges sw show-desktop">
																	<li>
																		<span class="font-alt-semibold">Sponsored</span>
																	</li>
																</ul>
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="badges show-mobile">
																<li>
																	<span class="font-alt-semibold">Sponsored</span>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Suprema bersama Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-3">
																Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik dalam pengamanan pintu akses adalah Suprema — solusi akses kontrol berbasis biometrik yang sudah Duis a sagittis dolor. Morbi pulvinar ac lacus quis molestie. In libero justo, laoreet nec fringilla vel, tincidunt sed dolor. Ut dictum molestie enim, non rhoncus eros viverra sit amet.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>9 Agustus 2025</h6>
																</li>
																<li>
																	<h6>5 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>8 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_3.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Kenapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keamanan gedung Anda. Agustus selalu menjadi bulan spesial bagi Indonesia. Di momen kemerdekaan ini, kita diingatkan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>3 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_5.jpg" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Kunci telah menjadi bagian integral dari peradaban manusia selama ribuan tahun, berevolusi dari mekanisme sederhana menjadi sistem keamanan canggih yang kita kenal saat ini. Kunci pertama kali muncul sekitar 4.000 tahun yang lalu, dengan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>1 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Suprema bersama Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-3">
																Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik dalam pengamanan pintu akses adalah Suprema — solusi akses kontrol berbasis biometrik yang sudah Duis a sagittis dolor. Morbi pulvinar ac lacus quis molestie. In libero justo, laoreet nec fringilla vel, tincidunt sed dolor. Ut dictum molestie enim, non rhoncus eros viverra sit amet.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>9 Agustus 2025</h6>
																</li>
																<li>
																	<h6>5 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>8 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li class="thumbnail-item" data-aos="fade-right">
													<div class="wrapper">
														<div class="image-area">
															<a href="detail.html">
																<figure>
																	<div class="images br-16">
																		<img class="transform-scale" src="assets/img/photos/dummy_3.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																<a href="detail.html">
																	Kenapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keamanan gedung Anda. Agustus selalu menjadi bulan spesial bagi Indonesia. Di momen kemerdekaan ini, kita diingatkan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>3 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="paging-area">
											<nav aria-label="Product navigation">
												<ul class="pagination justify-content-center">
													<li class="page-item disabled" data-aos="zoom-in">
														<span class="page-link">
															<span class="fa fa-angle-left"></span>
														</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">1</a>
													</li>
													<li class="page-item active" aria-current="page" data-aos="zoom-in">
														<span class="page-link">2</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">3</a>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">
															<span class="fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="col-xl-4">
{% include './partials/sidebar.twig' %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}