{% extends 'layouts/default.twig' %}
{% set body_class = 'create-post-page' %}
{% set head_title = 'Create Post' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item font-alt-regular">
									<a  href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item font-alt-regular active">
									Create Post
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="create-post-listing overflow-visible">
					<div class="container">
						<div class="listing-wrapper">
							<div class="subtitle-section" data-aos="fade-in">
								<h2 class="font-alt-bold">Create Post</h2>
							</div>
							<div class="create-post">
								<div class="wrapper">
									<form class="form">
										<div class="custom-form">
											<div class="create-form">
												<div class="form-row">
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="titleField">Judul</label>
														<input type="text" class="form-control" id="titleField" name="name" placeholder="Input Title Here...">
													</div>
													<div class="form-group col-6" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="tagField">Kategori</label>
														<select class="form-control" id="tagField" name="input-tagField">
															<option value="" class="placeholder" hidden>Pilih Kategori</option>
															<option value="">Berita Terkini</option>
															<option value="">Ghibah</option>
															<option value="">Keamanan Fisik</option>
															<option value="">Keamanan Digital</option>
															<option value="">IoT &amp; Smart Devices</option>
															<option value="">AI &amp; Otomasi</option>
															<option value="">Startup &amp; Inovasi</option>
														</select>
													</div>
													<div class="form-group col-6" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="subTagField">Sub Kategori</label>
														<select class="form-control" id="subTagField" name="input-subTagField" disabled>
															<option value="" class="placeholder" hidden>Pilih Sub Kategori</option>
															<option value="">CCTV</option>
															<option value="">Access Control</option>
															<option value="">Smart Lock</option>
															<option value="">Muster Zone</option>
															<option value="">Alarm</option>
														</select>
													</div>
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="imageField">Foto Cover</label>
														<div class="upload-area">
															<div class="upload-wrapper">
																<input type="file" data-jcf='{"buttonText": "Pilih Foto", "placeholderText": "Tidak ada file"}' accept=".jpg, .jpeg, .png">
															</div>
															<p class="font-alt-regular">Size Max. 2 MB</p>
														</div>
													</div>
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="postField">Artikel</label>
														<textarea class="form-control" id="postField" name="post" placeholder="Artikel"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="button-area sticky-action-button">
											<ul>
												<li data-aos="zoom-in">
													<a href="profile.html" class="button button-icon light-blue font-alt-semibold">
														<span class="icon fa fa-angle-left"></span>
														<span>Back</span>
													</a>
												</li>
												<li data-aos="zoom-in">
													<a href="#" class="button button-icon light-blue font-alt-semibold">
														<span class="icon fa fa-floppy-o"></span>
														<span>Draft</span>
													</a>
													<a href="#" class="button button-icon font-alt-semibold">
														<span class="icon fa fa-paper-plane"></span>
														<span>Publish</span>
													</a>
												</li>
											</ul>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}