{% extends 'layouts/default.twig' %}
{% set body_class = 'login-register-page' %}
{% set head_title = 'Fogot Password' %}
{% block page %}

			<div class="page-content">
				<section class="login-area">
					<div class="login">
						<div class="wrapper" data-aos="zoom-in">
							<!-- Hide ini kalo udah berhasil Sent Email -->
							<!-- Login Inside -->
							<div class="login-inside">
								<div class="logo-area">
									<figure>
										<img src="assets/img/logo-full-blue.png" alt="">
									</figure>
								</div>
								<div class="custom-form">
									<form class="form">
										<div class="form-row">
											<div class="form-group col-12">
												<label class="label-form font-alt-semibold" for="emailField">Email</label>
												<input type="email" class="form-control" id="emailField" name="email" placeholder="Input Email Here..." required>
											</div>
										</div>
										<div class="button-area">
											<button class="button full-width font-alt-semibold" type="submit">Reset Password</button>
										</div>
									</form>
								</div>
								<div class="nav-bottom">
									<h5 class="account font-pop-regular">
										Belum punya akun?
										<a href="register.html" class="font-pop-semibold">Daftar</a>
									</h6>
								</div>
							</div>
							<!-- END Login Inside -->

							<!-- Show ini kalo udah berhasil Sent Email -->
							<!-- Sent Email -->
							<!-- <div class="email-sent">
								<h5 class="font-alt-semibold">
									Email Sent
								</h5>
								<h6 class="font-pop-regular">
									Please check your email.
								</h6>
								<div class="button-area">
									<button class="button button-icon font-alt-semibold" type="submit">
										<span class="icon fa fa-home"></span>
										<span>Home</span>
									</button>
								</div>
							</div> -->
							<!-- END Sent Email -->
						</div>
					</div>
				</section>
			</div>

{% endblock %}