{% extends 'layouts/default.twig' %}
{% set body_class = 'listing-page' %}
{% set head_title = 'Keamanan Fisik' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a class="font-alt-regular" href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item active">
									Keamanan Fisik
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="title-page" data-aos="fade-in">
					<div class="container">
						<h2 class="font-alt-bold">Keamanan Fisik</h2>
					</div>
				</div>
				<section class="security-hardware">
					<div class="container">
						<div class="thumbnails">
							<div class="thumbnail-wrapper">
								<div class="row">
									<div class="col-xl-8 side-left">
										<div class="thumbnail-medium" data-aos="fade-right">
											<div class="row align-items-center">
												<div class="col-md-7 col-xl-8">
													<div class="image-area">
														<a href="detail.html">
															<figure>
																<div class="images br-20">
																	<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																</div>
																<figcaption class="photo-caption">Anna Rose Layden for The New York Times</figcaption>
															</figure>
														</a>
													</div>
												</div>
												<div class="col-md-5 col-xl-4 order-md-first">
													<div class="info-area">
														<ul class="badges">
															<li>
																<span class="font-alt-semibold">Sponsored</span>
															</li>
														</ul>
														<ul class="tags">
															<li>
																<h6 class="font-alt-medium">
																	<a href="listing.html">Keamanan Fisik</a>
																</h6>
															</li>
															<li>
																<h6 class="font-alt-medium">
																	<a href="listing.html">CCTV</a>
																</h6>
															</li>
														</ul>
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
															<a href="detail.html">
																Mengapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keaman.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="author.html">Cade Metz</a></h6>
															</li>
															<li>
																<h6>12 Agustus 2025</h6>
															</li>
															<li>
																<h6>5 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 side-right">
										<ul class="thumbnail-list">
											<li class="thumbnail-item" data-aos="fade-left">
												<div class="wrapper">
													<div class="image-area">
														<a href="detail.html">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_10.webp" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														{# <ul class="tags">
															<li>
																<h6 class="font-alt-medium">
																	<a href="#">AI & Otomasi</a>
																</h6>
															</li>
														</ul> #}
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="detail.html">
																OpenAI in Deal Talks That Would Value the Company Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															At $500 billion, OpenAI would become the world’s most valuable privately held company.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="author.html">Cade Metz</a></h6>
															</li>
															<li>
																<h6>12 Agustus 2025</h6>
															</li>
															<li>
																<h6>5 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-left">
												<div class="wrapper">
													<div class="image-area br-16">
														<a href="detail.html">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_6.webp" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="detail.html">
																3 Rahasia Foto Pakai Galaxy S25 Edge Biar Konten Kamu Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Galaxy S25 Edge hadir bukan sekadar sebagai smartphone canggih, melainkan sebagai partner Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
															</li>
															<li>
																<h6>8 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-left">
												<div class="wrapper">
													<div class="image-area br-16">
														<a href="detail.html">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_9.webp" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="detail.html">
																Review Acer Nitro V 16, Laptop Gaming Kencang Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Acer Nitro V 16 kini telah hadir sebagai pilihan yang dapat diandalkan di tengah kebutuhan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
															</li>
															<li>
																<h6>3 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="news-listing">
					<div class="container">
						<div class="thumbnails">
							<div class="listing-wrapper">
								<div class="row">
									<div class="col-xl-8">
										<ul class="thumbnail-list large">
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<ul class="badges sw show-desktop">
																<li>
																	<span class="font-alt-semibold">Sponsored</span>
																</li>
															</ul>
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<ul class="badges show-mobile">
															<li>
																<span class="font-alt-semibold">Sponsored</span>
															</li>
														</ul>
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Suprema bersama Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-3">
															Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik dalam pengamanan pintu akses adalah Suprema — solusi akses kontrol berbasis biometrik yang sudah Duis a sagittis dolor. Morbi pulvinar ac lacus quis molestie. In libero justo, laoreet nec fringilla vel, tincidunt sed dolor. Ut dictum molestie enim, non rhoncus eros viverra sit amet.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>9 Agustus 2025</h6>
															</li>
															<li>
																<h6>5 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>8 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_3.png" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Kenapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keamanan gedung Anda. Agustus selalu menjadi bulan spesial bagi Indonesia. Di momen kemerdekaan ini, kita diingatkan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>3 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_5.jpg" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Kunci telah menjadi bagian integral dari peradaban manusia selama ribuan tahun, berevolusi dari mekanisme sederhana menjadi sistem keamanan canggih yang kita kenal saat ini. Kunci pertama kali muncul sekitar 4.000 tahun yang lalu, dengan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>1 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Suprema bersama Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-3">
															Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik dalam pengamanan pintu akses adalah Suprema — solusi akses kontrol berbasis biometrik yang sudah Duis a sagittis dolor. Morbi pulvinar ac lacus quis molestie. In libero justo, laoreet nec fringilla vel, tincidunt sed dolor. Ut dictum molestie enim, non rhoncus eros viverra sit amet.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>9 Agustus 2025</h6>
															</li>
															<li>
																<h6>5 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>8 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="thumbnail-item" data-aos="fade-right">
												<div class="wrapper">
													<div class="image-area">
														<a href="#">
															<figure>
																<div class="images br-16">
																	<img class="transform-scale" src="assets/img/photos/dummy_3.png" alt="">
																</div>
															</figure>
														</a>
													</div>
													<div class="info-area">
														<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
															<a href="#">
																Kenapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru.
															</a>
														</h3>
														<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
															Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keamanan gedung Anda. Agustus selalu menjadi bulan spesial bagi Indonesia. Di momen kemerdekaan ini, kita diingatkan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
														</p>
														<ul class="auth-date">
															<li>
																<h6 class="auth-name font-text-italic">By <a href="#">John Doe</a></h6>
															</li>
															<li>
																<h6>3 Agustus 2025</h6>
															</li>
															<li>
																<h6>4 Min Read</h6>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
										<div class="paging-area">
											<nav aria-label="Product navigation">
												<ul class="pagination justify-content-center">
													<li class="page-item disabled" data-aos="zoom-in">
														<!-- <a class="page-link">
															<span class="fa fa-angle-left"></span>
														</a> -->
														<span class="page-link">
															<span class="fa fa-angle-left"></span>
														</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">1</a>
													</li>
													<li class="page-item active" aria-current="page" data-aos="zoom-in">
														<span class="page-link">2</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">3</a>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">
															<span class="fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="col-xl-4">
{% include './partials/sidebar.twig' %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}