{% extends 'layouts/default.twig' %}
{% set body_class = 'update-password-page' %}
{% set head_title = 'Update Password' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item font-alt-regular">
									<a  href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item font-alt-regular active">
									Update Password
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="update-password-listing overflow-visible">
					<div class="container">
						<div class="listing-wrapper">
							<div class="subtitle-section" data-aos="fade-in">
								<h2 class="font-alt-bold">Update Password</h2>
							</div>
							<div class="update-password">
								<div class="wrapper">
									<form class="form">
										<div class="custom-form">
											<div class="create-form">
												<div class="form-row">
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="oldPasswordField">Old Password</label>
														<div class="wrapper-input">
															<input type="password" class="form-control" id="oldPasswordField" name="oldPassword" placeholder="Input Old Password Here..." required>
															<span class="icon-password fa fa-eye" onclick="showOldPassword()"></span>
														</div>
													</div>
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="passwordField">Password</label>
														<div class="wrapper-input">
															<input type="password" class="form-control" id="passwordField" name="password" placeholder="Input New Password Here..." required>
															<span class="icon-password fa fa-eye" onclick="showPassword()"></span>
														</div>
													</div>
													<div class="form-group col-12" data-aos="fade-in">
														<label class="label-form font-alt-semibold" for="retypePasswordField">Re-Type Password</label>
														<div class="wrapper-input">
															<input type="password" class="form-control" id="retypePasswordField" name="retypePassword" placeholder="Re-Type New Password Here..." required>
															<span class="icon-password fa fa-eye" onclick="reTypePassword()"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="button-area sticky-action-button">
											<ul>
												<li data-aos="zoom-in">
													<a href="index.html" class="button button-icon light-blue font-alt-semibold">
														<span class="icon fa fa-home"></span>
														<span>Home</span>
													</a>
												</li>
												<li data-aos="zoom-in">
													<a href="#" class="button button-icon font-alt-semibold">
														<span class="icon fa fa-floppy-o"></span>
														<span>Save</span>
													</a>
												</li>
											</ul>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<script>
				function showOldPassword() {
					var x = document.getElementById("oldPasswordField");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}

				function showPassword() {
					var x = document.getElementById("passwordField");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}

				function reTypePassword() {
					var x = document.getElementById("retypePasswordField");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>

{% endblock %}