{% extends 'layouts/default.twig' %}
{% set body_class = 'profile-page' %}
{% set head_title = 'My Profile' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item font-alt-regular">
									<a href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item font-alt-regular active">
									My Profile
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="profile-listing">
					<div class="container">
						<div class="listing-wrapper">
							<div class="profile-card" data-aos="zoom-in">
								<div class="wrapper">
									<div class="row">
										<div class="col-md-4 side-left">
											<div class="image-name">
												<div class="image-area">
													<figure>
														<div class="images br-100">
															<img src="assets/img/photos/dummy_1.webp" alt="">
															<!--<span class="text-logo font-alt-semibold">J</span>-->
														</div>
													</figure>
												</div>
											</div>
										</div>
										<div class="col-md-8 side-right">
											<div class="info-bio">
												<div class="row">
													<div class="col-md-12">
														<div class="info">
															<h6 class="font-alt-bold">Nama</h6>
															<h4 class="font-text-bold">John Doe</h4>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Status</h6>
															<h5>
																<span class="icon-verified"></span>
																<span class="ft-italic">Verified</span>
															</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Jenis Kelamin</h6>
															<h5>Laki-laki</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Email</h6>
															<h5>mail@email.com</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Tanggal Bergabung</h6>
															<h5>21 Juli 2025</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Bio</h6>
															<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu lectus nisi. Pellentesque pellentesque metus sit amet maximus consequat. Maecenas eget consequat tellus</h5>
														</div>
													</div>
													<div class="col-md-6">
														<div class="info">
															<h6 class="font-alt-bold">Media Sosial</h6>
															<ul class="flat social-media">
																<li>
																	<a href="#" target="_blank" class="icon-sos linkedin">
																		<span class="fab fa-linkedin"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos facebook">
																		<span class="fa fa-facebook"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos twitter">
																		<span class="fa fa-x"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos instagram">
																		<span class="fab fa-instagram"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos youtube">
																		<span class="fab fa-youtube"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos tiktok">
																		<span class="fa fa-tiktok"></span>
																	</a>
																</li>
																<li>
																	<a href="#" target="_blank" class="icon-sos whatsapp">
																		<span class="fa fa-whatsapp"></span>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<a href="edit-profile.html" class="button button-edit font-alt-semibold">
										<span class="fa fa-edit"></span>
										<span>Edit</span>
									</a>
								</div>
							</div>
							<div class="post-profile">
								<div class="table-area">
									<div class="subtitle-section" data-aos="fade-in">
										<h2 class="font-alt-bold">Your Post</h2>
									</div>
									<div class="custom-table fixed-tail">
										<div class="table-responsive" data-aos="zoom-in">
											<table>
												<thead>
													<tr>
														<th class="font-alt-bold">Image</th>
														<th class="font-alt-bold">Judul</th>
														<th class="font-alt-bold">Kategori</th>
														<th class="font-alt-bold">Tanggal</th>
														<th class="font-alt-bold">Likes</th>
														<th class="font-alt-bold">Status</th>
														<th class="font-alt-bold">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td data-th="Image">
															<div class="image-area">
																<figure>
																	<div class="images br-16">
																		<img src="assets/img/photos/dummy_8.webp" alt="">
																	</div>
																</figure>
															</div>
														</td>
														<td class="space-normal" data-th="Judul">
															<h5 class="font-alt-semibold text-ellipsis overflow-hidden line-clamp-3">realme Buds T200, TWS Rp 200 Ribuan dengan Baterai 50 Jam dan ANC Memukau!</h5>
														</td>
														<td data-th="Kategori">
															<p class="font-alt-regular">IoT &amp; Smart Devices</p>
														</td>
														<td data-th="Tanggal">
															<p class="font-alt-regular">10 Agustus 2025</p>
														</td>
														<td data-th="Likes">
															<p class="font-alt-regular">2 Likes</p>
														</td>
														<td data-th="Status">
															<ul class="badges">
																<li>
																	<span class="blue font-alt-semibold">Publish</span>
																</li>
																<li>
																	<span class="green font-alt-semibold">Approved</span>
																</li>
															</ul>
														</td>
														<td data-th="Action">
															<div class="button-action">
																<ul>
																	<li>
																		<a href="preview.html" class="button font-alt-semibold">
																			<span class="icon fa fa-eye"></span>
																			<span>View</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-edit"></span>
																			<span>Edit</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button red font-alt-semibold">
																			<span class="icon fa fa-trash"></span>
																			<span>Delete</span>
																		</a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
													<tr>
														<td data-th="Image">
															<div class="image-area">
																<figure>
																	<div class="images br-16">
																		<img src="assets/img/photos/dummy_5.jpg" alt="">
																	</div>
																</figure>
															</div>
														</td>
														<td class="space-normal" data-th="Judul">
															<h5 class="font-alt-semibold text-ellipsis overflow-hidden line-clamp-3">Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.</h5>
														</td>
														<td data-th="Kategori">
															<p class="font-alt-regular">Keamanan Fisik</p>
														</td>
														<td data-th="Tanggal">
															<p class="font-alt-regular">1 Agustus 2025</p>
														</td>
														<td data-th="Likes">
															<p class="font-alt-regular">0 Likes</p>
														</td>
														<td data-th="Status">
															<ul class="badges">
																<li>
																	<span class="orange font-alt-semibold">Draft</span>
																</li>
															</ul>
														</td>
														<td data-th="Action">
															<div class="button-action">
																<ul>
																	<li>
																		<a href="preview.html" class="button font-alt-semibold">
																			<span class="icon fa fa-eye"></span>
																			<span>View</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-edit"></span>
																			<span>Edit</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-paper-plane"></span>
																			<span>Publish</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button red font-alt-semibold">
																			<span class="icon fa fa-trash"></span>
																			<span>Delete</span>
																		</a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
													<tr>
														<td data-th="Image">
															<div class="image-area">
																<figure>
																	<div class="images br-16">
																		<img src="assets/img/photos/dummy_6.webp" alt="">
																	</div>
																</figure>
															</div>
														</td>
														<td class="space-normal" data-th="Judul">
															<h5 class="font-alt-semibold text-ellipsis overflow-hidden line-clamp-3">3 Rahasia Foto Pakai Galaxy S25 Edge Biar Konten Kamu Langsung FYP di Sosial Media Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.</h5>
														</td>
														<td data-th="Kategori">
															<p class="font-alt-regular">IoT &amp; Smart Devices</p>
														</td>
														<td data-th="Tanggal">
															<p class="font-alt-regular">4 Agustus 2025</p>
														</td>
														<td data-th="Likes">
															<p class="font-alt-regular">0 Likes</p>
														</td>
														<td data-th="Status">
															<ul class="badges">
																<li>
																	<span class="blue font-alt-semibold">Publish</span>
																</li>
																<li>
																	<span class="yellow font-alt-semibold">On Review</span>
																</li>
															</ul>
														</td>
														<td data-th="Action">
															<div class="button-action">
																<ul>
																	<li>
																		<a href="preview.html" class="button font-alt-semibold">
																			<span class="icon fa fa-eye"></span>
																			<span>View</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-edit"></span>
																			<span>Edit</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button red font-alt-semibold">
																			<span class="icon fa fa-trash"></span>
																			<span>Delete</span>
																		</a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
													<tr>
														<td data-th="Image">
															<div class="image-area">
																<figure>
																	<div class="images br-16">
																		<img src="assets/img/photos/dummy_4.png" alt="">
																	</div>
																</figure>
															</div>
														</td>
														<td class="space-normal" data-th="Judul">
															<h5 class="font-alt-semibold text-ellipsis overflow-hidden line-clamp-3">Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.</h5>
														</td>
														<td data-th="Kategori">
															<p class="font-alt-regular">Keamanan Fisik</p>
														</td>
														<td data-th="Tanggal">
															<p class="font-alt-regular">8 Agustus 2025</p>
														</td>
														<td data-th="Likes">
															<p class="font-alt-regular">4 Likes</p>
														</td>
														<td data-th="Status">
															<ul class="badges">
																<li>
																	<span class="blue font-alt-semibold">Publish</span>
																</li>
																<li>
																	<span class="green font-alt-semibold">Approved</span>
																</li>
																<li>
																	<span class="red font-alt-semibold">Reject</span>
																</li>
																<li>
																	<span class="yellow font-alt-semibold">On Review</span>
																</li>
																<li>
																	<span class="orange font-alt-semibold">Draft</span>
																</li>
															</ul>
														</td>
														<td data-th="Action">
															<div class="button-action">
																<ul>
																	<li>
																		<a href="preview.html" class="button font-alt-semibold">
																			<span class="icon fa fa-eye"></span>
																			<span>View</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-edit"></span>
																			<span>Edit</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button font-alt-semibold">
																			<span class="icon fa fa-paper-plane"></span>
																			<span>Publish</span>
																		</a>
																	</li>
																	<li>
																		<a href="#" class="button red font-alt-semibold">
																			<span class="icon fa fa-trash"></span>
																			<span>Delete</span>
																		</a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="paging-area">
											<nav aria-label="Table navigation">
												<ul class="pagination justify-content-center">
													<li class="page-item disabled" data-aos="zoom-in">
														<span class="page-link">
															<span class="fa fa-angle-left"></span>
														</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">1</a>
													</li>
													<li class="page-item active" aria-current="page" data-aos="zoom-in">
														<span class="page-link">2</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">3</a>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">
															<span class="fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
								<div class="thumb-post">
									<div class="subtitle-section" data-aos="fade-in">
										<h2 class="font-alt-bold">Bookmark</h2>
									</div>
									<!-- Kalo postingannya engga ada, pake ini -->
									<!-- <div class="no-post">
										<h5 class="font-alt-regular" data-aos="zoom-in">No Post</h5>
									</div> -->
									<!-- End No Post -->
									<div class="thumbnails">
										<div class="thumbnail-wrapper margin-min">
											<div class="row">
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<div class="icon-image">
																	<span class="fa fa-play-circle"></span>
																</div>
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_8.webp" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">IoT & Smart Devices</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	realme Buds T200, TWS Rp 200 Ribuan dengan Baterai 50 Jam dan ANC Memukau!
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>10 Agustus 2025</h6>
																</li>
																<li>
																	<h6>6 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">Keamanan Fisik</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>8 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_6.webp" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">IoT & Smart Devices</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	3 Rahasia Foto Pakai Galaxy S25 Edge Biar Konten Kamu Langsung FYP di Sosial Media Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>4 Agustus 2025</h6>
																</li>
																<li>
																	<h6>5 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_5.jpg" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">Keamanan Fisik</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Kunci telah menjadi bagian integral dari peradaban manusia selama ribuan tahun, berevolusi dari mekanisme sederhana menjadi ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>29 Juli 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<div class="icon-image">
																	<span class="fa fa-play-circle"></span>
																</div>
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_8.webp" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">IoT & Smart Devices</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	realme Buds T200, TWS Rp 200 Ribuan dengan Baterai 50 Jam dan ANC Memukau!
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>10 Agustus 2025</h6>
																</li>
																<li>
																	<h6>6 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">Keamanan Fisik</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>8 Agustus 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_6.webp" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">IoT & Smart Devices</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	3 Rahasia Foto Pakai Galaxy S25 Edge Biar Konten Kamu Langsung FYP di Sosial Media Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>4 Agustus 2025</h6>
																</li>
																<li>
																	<h6>5 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4 col-xl-3">
													<div class="thumbnail-default" data-aos="zoom-in">
														<div class="image-area">
															<a href="#">
																<figure>
																	<div class="images br-20">
																		<img class="transform-scale" src="assets/img/photos/dummy_5.jpg" alt="">
																	</div>
																</figure>
															</a>
														</div>
														<div class="info-area">
															<ul class="tags">
																<li>
																	<h6 class="font-alt-medium">
																		<a href="#">Keamanan Fisik</a>
																	</h6>
																</li>
															</ul>
															<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-3 font-alt-semibold">
																<a href="#">
																	Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.
																</a>
															</h3>
															<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																Kunci telah menjadi bagian integral dari peradaban manusia selama ribuan tahun, berevolusi dari mekanisme sederhana menjadi ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit suscipit sapien, quis mollis erat mollis at. Suspendisse non felis eu enim blandit fermentum vitae eget nisi. In nec dignissim tortor. Maecenas consequat egestas felis vitae dignissim.
															</p>
															<ul class="auth-date">
																<li>
																	<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																</li>
																<li>
																	<h6>29 Juli 2025</h6>
																</li>
																<li>
																	<h6>4 Min Read</h6>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="paging-area">
										<nav aria-label="Product navigation">
											<ul class="pagination justify-content-center">
												<li class="page-item disabled" data-aos="zoom-in">
													<span class="page-link">
														<span class="fa fa-angle-left"></span>
													</span>
												</li>
												<li class="page-item" data-aos="zoom-in">
													<a class="page-link" href="#">1</a>
												</li>
												<li class="page-item active" aria-current="page" data-aos="zoom-in">
													<span class="page-link">2</span>
												</li>
												<li class="page-item" data-aos="zoom-in">
													<a class="page-link" href="#">3</a>
												</li>
												<li class="page-item" data-aos="zoom-in">
													<a class="page-link" href="#">
														<span class="fa fa-angle-right"></span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="floating-button add-button" data-aos="zoom-in">
								<div class="button-wrapper">
									<a href="create-post.html" class="button-inside">
										<span class="fa fa-pencil"></span>
										<small class="font-alt-bold">Post</small>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}