		<footer id="footer">
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row justify-content-center">
							<div class="col-lg-4">
								<div class="footer-logo" data-aos="fade-in">
									<a href="#">
										<figure>
											<img src="assets/img/logo-white.png" alt="Simplo">
										</figure>
									</a>
								</div>
								<div class="footer-info">
									<h6 class="font-alt-regular" data-aos="fade-in">
										Didukung oleh <a href="https://www.lumbatech.com/">Lumbatech.com</a> &amp; <a href="https://simplo.id/">Simplo.id</a>
									</h6>
								</div>
								<div class="footer-contact" data-aos="fade-in">
									<a href="#" target="_blank">
										<i class="fa fa-map-marker"></i>
									</a>
									<a href="#" target="_blank">
										<i class="fa fa-phone"></i>
									</a>
									<a href="#" target="_blank">
										<i class="fa fa-envelope"></i>
									</a>
								</div>
							</div>
							<div class="col-md-8 col-lg-4">
								<div class="footer-nav" data-aos="fade-in">
									<div class="row">
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">Berita Terkini</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">Ghibah</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">Keamanan Fisik</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">Keamanan Digital</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">IoT &amp; Smart Devices</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">AI &amp; Otomasi</a>
										</div>
										<div class="col-6">
											<a class="font-alt-regular" href="listing.html">Startup &amp; Inovasi</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="footer-sosmed">
									<ul class="content-list social flat">
										<li class="linkedin" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
										<li class="facebook" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="instagram" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li class="youtube" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li class="tiktok" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="icon-buttom fa-tiktok"></i>
											</a>
										</li>
									</ul>
									<p class="font-alt-regular" data-aos="fade-in">Ikuti media sosial kami agar tidak terlewatkan promo dan berita terbaru kami.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-foot"></div>
			</div>
			<div class="nav-bottom">
				<div class="container">
					<p class="font-alt-regular">
						<strong class="font-alt-semibold">NUUpdate</strong>. ©2025. All Rights Reserved.
					</p>
				</div>
			</div>
		</footer>