										<div class="sidebar-area">
											<div class="backdrop-sidebar"></div>
											<div class="sidebar-content" data-aos="fade-left" data-aos-delay="900">
												<div class="sidebar-toggle-button">
													<span class="fa fa-sliders"></span>
												</div>
												<div class="sidebar-wrapper">
													<div class="sidebar-news">
														<div class="sidebar-category">
															<div class="sidebar-group">
																<h5 class="font-alt-bold">
																	<span>Kategori</span>
																</h5>
																<ul class="sidebar-list" id="customSubCategory">
																	<li>
																		<a href="listing.html" class="font-alt-semibold">
																			<span>Berita</span>
																		</a>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold">
																			<span>Ghibah</span>
																		</a>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold" type="button" data-toggle="collapse" data-target="#subCatOne" aria-expanded="false" aria-controls="subCatOne">
																			<span>Keamanan Fisik</span>
																			<span class="icon fa fa-angle-down"></span>
																		</a>
																		<div class="collapse" id="subCatOne" data-parent="#customSubCategory">
																			<ul class="sidebar-list nested">
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>CCTV</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Access Control</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Smart Lock</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Muster Zone</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Alarm</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold" type="button" data-toggle="collapse" data-target="#subCatTwo" aria-expanded="false" aria-controls="subCatTwo">
																			<span>Keamanan Digital</span>
																			<span class="icon fa fa-angle-down"></span>
																		</a>
																		<div class="collapse" id="subCatTwo" data-parent="#customSubCategory">
																			<ul class="sidebar-list nested">
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Enkripsi</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Data Privacy</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Best Practice</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Phishing</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Ransomware</span>
																					</a>
																				</li>
																				<li>
																					<a href="listing.html" class="font-alt-semibold">
																						<span>Backup & Recovery</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold">
																			<span>IoT &amp; Smart Devices</span>
																		</a>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold">
																			<span>AI &amp; Otomasi</span>
																		</a>
																	</li>
																	<li>
																		<a href="listing.html" class="font-alt-semibold">
																			<span>Startup &amp; Inovasi</span>
																		</a>
																	</li>
																</ul>
															</div>
															<div class="sidebar-group">
																<h5 class="font-alt-bold">
																	<span>Recent Posts</span>
																</h5>
																<div class="thumbnails">
																	<ul class="thumbnail-list">
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="detail.html">
																						<figure>
																							<div class="images br-10">
																								<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																						<a href="detail.html">
																							Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>8 Agustus 2025</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="detail.html">
																						<figure>
																							<div class="images br-10">
																								<img class="transform-scale" src="assets/img/photos/dummy_3.png" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																						<a href="detail.html">
																							Kenapa Maintenance CCTV Lebih Penting dari Membeli Unit Baru.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Di momen kemerdekaan RI, mari merdeka dari risiko kerusakan CCTV. Lumbatech hadir dengan maintenance berkala demi keamanan gedung Anda. Agustus selalu menjadi bulan spesial bagi Indonesia. Di momen kemerdekaan ini, kita diingatkan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>3 Agustus 2025</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="detail.html">
																						<figure>
																							<div class="images br-10">
																								<img class="transform-scale" src="assets/img/photos/dummy_5.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																						<a href="detail.html">
																							Sejarah Kunci Pintu Digital dan Kebutuhannya di Indonesia.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Kunci telah menjadi bagian integral dari peradaban manusia selama ribuan tahun, berevolusi dari mekanisme sederhana menjadi sistem keamanan canggih yang kita kenal saat ini. Kunci pertama kali muncul sekitar 4.000 tahun yang lalu, dengan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>1 Agustus 2025</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="detail.html">
																						<figure>
																							<div class="images br-10">
																								<img class="transform-scale" src="assets/img/photos/dummy_4.png" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																						<a href="detail.html">
																							Pastikan Sistem Akses Kontrol Anda Prima: Maintenance Akses Kontrol Suprema bersama Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-3">
																						Dalam dunia bisnis modern, keamanan adalah fondasi utama yang mendukung kelangsungan operasional. Salah satu teknologi terbaik dalam pengamanan pintu akses adalah Suprema — solusi akses kontrol berbasis biometrik yang sudah Duis a sagittis dolor. Morbi pulvinar ac lacus quis molestie. In libero justo, laoreet nec fringilla vel, tincidunt sed dolor. Ut dictum molestie enim, non rhoncus eros viverra sit amet.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>9 Agustus 2025</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																		<li class="thumbnail-item">
																			<div class="wrapper">
																				<div class="image-area">
																					<a href="detail.html">
																						<figure>
																							<div class="images br-10">
																								<img class="transform-scale" src="assets/img/photos/dummy_2.jpg" alt="">
																							</div>
																						</figure>
																					</a>
																				</div>
																				<div class="info-area">
																					<h3 class="title-thumbs text-ellipsis overflow-hidden line-clamp-2 font-alt-semibold">
																						<a href="detail.html">
																							Ebelco Magnetic Lock: Solusi Keamanan Optimal dengan Akses Kontrol Suprema dan Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																						</a>
																					</h3>
																					<p class="desc-thumbs text-ellipsis overflow-hidden line-clamp-2">
																						Dalam sistem keamanan modern, penggunaan magnetic lock menjadi solusi andal untuk mengamankan akses masuk ke berbagai fasilitas. Ebelco, sebagai salah satu merek terkemuka dalam industri ini, menghadirkan produk electromagnetic lock Nunc augue dui, dignissim ut faucibus sed, pulvinar ac ipsum. Ut hendrerit nulla non ligula fringilla accumsan.
																					</p>
																					<ul class="auth-date">
																						<li>
																							<h6 class="auth-name font-text-italic">By <a href="author.html">John Doe</a></h6>
																						</li>
																						<li>
																							<h6>8 Agustus 2025</h6>
																						</li>
																					</ul>
																				</div>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="ads-section">
														<div class="ads-area">
															<a href="#">
																<figure>
																	<div class="images br-16">
																		<img src="assets/img/photos/ads-portrait.png" alt="">
																	</div>
																</figure>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>